/*==============================
TABLETTES
===============================*/

@media(max-width:992px){

    .hero-container,
    .about-container,
    .contact-container{

        grid-template-columns:1fr;
        text-align:center;
    }

    .hero-image{

        order:-1;
    }

    .about-image{

        margin-bottom:40px;
    }

    .about-card{

        width:320px;
    }

    .about-info{

        grid-template-columns:1fr;
    }

    .footer-container{

        grid-template-columns:1fr;
        text-align:center;
    }

    .footer-social{

        justify-content:center;
    }

}

@media(max-width:768px){

    .menu{

        display:none;
    }

    .hero{

        padding-top:120px;
    }

    .hero-content h1{

        font-size:48px;
    }

    .hero-content h2{

        font-size:28px;
    }

    .section-title{

        font-size:34px;
    }

    .circle{

        width:320px;
        height:320px;
    }

    .hero-btns{

        flex-direction:column;
    }

    .projects-grid,
    .services-grid,
    .skills-grid{

        grid-template-columns:1fr;
    }

}

@media(max-width:480px){

    .container{

        width:92%;
    }

    .hero-content h1{

        font-size:40px;
    }

    .hero-content h2{

        font-size:22px;
    }

    .section-title{

        font-size:28px;
    }

    .circle{

        width:260px;
        height:260px;
    }

    .btn{

        width:100%;
    }

}

@media(max-width:768px){

.menu-toggle{

display:block;

}

.menu{

position:absolute;

top:80px;

left:-100%;

width:100%;

background:#0F172A;

display:flex;

flex-direction:column;

padding:30px;

transition:.4s;

}

.menu.active{

left:0;

}

}